[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
matplotlib = "3.6"
streamlit = "*"
mido = "*"
tqdm = "*"
scikit-learn = "*"
plotly = "*"
typing-extensions = "*"
pandas = "1.4"
numpy = "*"
pymusicxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
